.certificate-container{
    width: 100%;
    height: 100vh;
    background-image: url("/image-px/background-2.png");
    background-size: cover;
}

@media(max-width:427px ) {
    .certificate-container{
        background-position: right ;
        height: 100vh;
        scroll-snap-type:  y mandatory;
        overflow-y: scroll;
    }
    .empty-div{
 
        height: 66.66vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        scroll-snap-align: center;
    }
.certificate-content{

    position: sticky;
    top: 100px;
    left: 0;
    width: 90%;
    margin: 0 auto;
    scroll-snap-align: center;
}
.certificate-content img{
    width: 100%;
}
}
@media (min-width: 427px) and (max-width:1279px) {
    .certificate-container{
        background-position: right ;
        height: 100vh;
        scroll-snap-type:  y mandatory;
        overflow-y: scroll;
    }
    .empty-div{
 
        height: 66.66vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        scroll-snap-align: center;
    }
.certificate-content{

    position: sticky;
    top: 100px;
    left: 0;
    width: 90%;
    margin: 0 auto;
    scroll-snap-align: center;
}
.certificate-content img{
    width: 100%;
}
  }
@media (min-width: 1278px)  {
    .certificate-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.certificate-content{

    width: 80%;
    margin: 0 auto;
}
  }